{% import_yaml "opensmtpd/defaults.yaml" as default_settings %}

{% load_yaml as osmap %}
FreeBSD:
    configdir: /usr/local/etc/mail
    pkg: opensmtpd
    service: smtpd
Debian:
    configdir: /etc
    pkg: opensmtpd
    service: opensmtpd
RedHat:
    configdir: /etc/opensmtpd
    pkg: opensmtpd
    service: opensmtpd
Arch:
    configdir: /etc/smtpd
    pkg: opensmtpd
    service: smtpd
{% endload %}

{% set opensmtpd = salt['grains.filter_by'](
    default_settings,
    merge=salt['grains.filter_by'](
        osmap,
        grain='os_family',
        merge=salt['pillar.get']('postgres', {}),
    ),
    base='opensmtpd',
) %}
