{% import_yaml 'opensmtpd/defaults.yaml' as defaults %}

{% load_yaml as osmap %}
default:
  configdir: /etc/mail
  pkg: opensmtpd
  service: opensmtpd
FreeBSD:
    configdir: /usr/local/etc/mail
    service: smtpd
Debian:
    configdir: /etc
RedHat:
    configdir: /etc/opensmtpd
Arch:
    configdir: /etc/smtpd
    service: smtpd
{% endload %}

{% set opensmtpd = salt['grains.filter_by'](
    defaults,
    merge=salt['grains.filter_by'](
        osmap,
        merge=salt['pillar.get']('opensmtpd'),
        base='default',
    ),
) %}
